# Exploring Relationships

### Importing libraries
### Importing 2015 - 2019 sets from Prepared Data
### Ensure column names are consistent
### Drop any unused columns
### Add a 'year' column to each of the sets
### Export each data set as 'ready_to_merge'
### See 'Task 6.2 Part 2 Exploring Relationships' for the merging of these sets plus heatmap, scatterplot, pair plot and categorical plot

In [114]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [115]:
#turn folder into a string
path = r'C:\Users\melan\OneDrive\Career Foundry\World Happiness Report'

In [116]:
path

'C:\\Users\\melan\\OneDrive\\Career Foundry\\World Happiness Report'

### Import 2015 data set from Prepared Data

In [118]:
# Import dataframe of 2015 from Prepared Data
df_2015_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2015_checked.csv'))

In [119]:
df_2015_checked.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,GDP per capita,Family,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual
0,0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

### Drop from the 2015 set, the columns Unnamed: 0, Region, Standard Error, Dystopia Residual, then rename Family, Happiness Score & Happiness Rank columns, also add in a 'Year' column so we can see the year when these 5 data sets are merged

In [121]:
df_2015_checked = df_2015_checked.drop(columns = ['Unnamed: 0', 'Region', 'Standard Error', 'Dystopia Residual'])

In [122]:
#check to see if columns have been dropped
df_2015_checked.head()

,Country,Happiness Rank,Happiness Score,GDP per capita,Family,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [123]:
#Excellent! Now let's rename the Family, Happiness Score & Happiness Rank columns to match the 2018 & 2019 data sets
df_2015_checked.rename(columns = {'Happiness Score': 'Score'}, inplace = True)
df_2015_checked.rename(columns = {'Happiness Rank': 'Overall rank'}, inplace = True)
df_2015_checked.rename(columns = {'Family': 'Social support'}, inplace = True)
df_2015_checked.rename(columns = {'Country': 'Country or region'}, inplace = True)

In [124]:
#check to see if columns have been renamed
df_2015_checked.head()

,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [125]:
#Great! Now lets ADD a 'Year' column to this 2015 dataframe
df_2015_checked['Year'] = 2015

In [126]:
#verifying a Year column has been added and that its rows contain '2015'
df_2015_checked.head()

,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [127]:
#Export to Prepared Data
df_2015_checked.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2015_ready_to_merge.csv'))

### Import 2016 data set from Prepared Data

In [129]:
# Import dataframe of 2016 from Prepared Data
df_2016_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2016_checked.csv'))

In [130]:
df_2016_checked.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,GDP per capita,Family,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual
0,0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

### Drop from the 2016 set, the columns Unnamed: 0, Region, Lower Confidence Interval, Upper Confidence Interval, Dystopia Residual, then rename Family, Happiness Score & Happiness Rank columns, also add in a 'Year' column so we can see the year when these 5 data sets are merged

In [132]:
df_2016_checked = df_2016_checked.drop(columns = ['Unnamed: 0', 'Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'])

In [133]:
#check to see if columns have been dropped
df_2016_checked.head()

,Country,Happiness Rank,Happiness Score,GDP per capita,Family,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [134]:
#Excellent! Now let's rename the Family, Happiness Score & Happiness Rank columns to match the 2018 & 2019 data sets
df_2016_checked.rename(columns = {'Happiness Score': 'Score'}, inplace = True)
df_2016_checked.rename(columns = {'Happiness Rank': 'Overall rank'}, inplace = True)
df_2016_checked.rename(columns = {'Family': 'Social support'}, inplace = True)
df_2016_checked.rename(columns = {'Country': 'Country or region'}, inplace = True)

In [135]:
#check to see if columns have been renamed
df_2016_checked.head()

,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [136]:
#Great! Now lets ADD a 'Year' column to this 2016 dataframe
df_2016_checked['Year'] = 2016

In [137]:
#verifying a Year column has been added and that its rows contain '2016'
df_2016_checked.head()

,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [138]:
#Export to Prepared Data
df_2016_checked.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2016_ready_to_merge.csv'))

### Import 2017 data set from Prepared Data

In [140]:
# Import dataframe of 2017 from Prepared Data
df_2017_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2017_checked.csv'))

In [141]:
df_2017_checked.head()

,Unnamed: 0,Country,Happiness Rank,Happiness Score,Whisker high,Whisker low,GDP per capita,Family,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia residual
0,0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

### Drop from the 2017 set, the columns Unnamed: 0, Whisker high, Whisker low, Dystopia residual, then rename Family, Country, Happiness Score & Happiness Rank columns, also add in a 'Year' column so we can see the year when these 5 data sets are merged

In [143]:
df_2017_checked = df_2017_checked.drop(columns = ['Unnamed: 0', 'Whisker high', 'Whisker low', 'Dystopia residual'])

In [144]:
#check to see if columns have been dropped
df_2017_checked.head()

,Country,Happiness Rank,Happiness Score,GDP per capita,Family,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [145]:
#Excellent! Now let's rename the Family, Country, Happiness Score & Happiness Rank columns to match the 2018 & 2019 data sets
df_2017_checked.rename(columns = {'Happiness Score': 'Score'}, inplace = True)
df_2017_checked.rename(columns = {'Happiness Rank': 'Overall rank'}, inplace = True)
df_2017_checked.rename(columns = {'Family': 'Social support'}, inplace = True)
df_2017_checked.rename(columns = {'Country': 'Country or region'}, inplace = True)

In [146]:
#check to see if columns have been renamed
df_2017_checked.head()

,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [147]:
#Great! Now lets ADD a 'Year' column to this 2017 dataframe and fill in the values
df_2017_checked['Year'] = 2017

In [148]:
#verifying a Year column has been added and that its rows contain '2017'
df_2017_checked.head()

,Country or region,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [149]:
#Export to Prepared Data
df_2017_checked.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2017_ready_to_merge.csv'))

### Import 2018 data set from Prepared Data

In [151]:
# Import dataframe of 2018 from Prepared Data
df_2018_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2018_checked.csv'))

In [152]:
df_2018_checked.head()

,Unnamed: 0,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

### Drop from the 2018 set, the column Unnamed: 0, also add in a 'Year' column so we can see the year when these 5 data sets are merged

In [154]:
df_2018_checked = df_2018_checked.drop(columns = ['Unnamed: 0'])

In [155]:
#check to see if Unnamed column has been dropped
df_2018_checked.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [156]:
# no columns need to be renamed, so let's just add in the Year column and fill in the values
df_2018_checked['Year'] = 2018

In [157]:
#verifying a Year column has been added and that its rows contain '2018'
df_2018_checked.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [158]:
#Export to Prepared Data
df_2018_checked.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2018_ready_to_merge.csv'))

### Import 2019 data set from Prepared Data

In [160]:
# Import dataframe of 2019 from Prepared Data
df_2019_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2019_checked.csv'))

In [161]:
df_2019_checked.head()

,Unnamed: 0,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### Drop from the 2019 set, the column Unnamed: 0, also add in a 'Year' column so we can see the year when these 5 data sets are merged

In [163]:
df_2019_checked = df_2019_checked.drop(columns = ['Unnamed: 0'])

In [164]:
#check to see if Unnamed column has been dropped
df_2019_checked.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [165]:
# no columns need to be renamed, so let's just add in the Year column and fill in the values
df_2019_checked['Year'] = 2019

In [166]:
#verifying a Year column has been added and that its rows contain '2019'
df_2019_checked.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [167]:
#Export to Prepared Data
df_2019_checked.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2019_ready_to_merge.csv'))